
*.xml
*.iml
*.properties
*.class
*.cache
*.css
*.xsl
hw3/futureserver/project/target/streams/$global/$global/$global/streams/out
hw3/futureserver/project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
hw3/futureserver/project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
hw3/futureserver/project/target/streams/$global/ivyConfiguration/$global/streams/out
hw3/futureserver/project/target/streams/$global/ivySbt/$global/streams/out
hw3/futureserver/project/target/streams/$global/projectDescriptors/$global/streams/out
hw3/futureserver/project/target/streams/$global/update/$global/streams/out
hw3/futureserver/project/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
hw3/futureserver/project/target/streams/$global/update/$global/streams/update_cache_2.12/output
hw3/futureserver/project/target/streams/compile/$global/$global/discoveredMainClasses/data
hw3/futureserver/project/target/streams/compile/compile/$global/streams/out
hw3/futureserver/project/target/streams/compile/compileIncremental/$global/streams/export
hw3/futureserver/project/target/streams/compile/compileIncremental/$global/streams/out
hw3/futureserver/project/target/streams/compile/copyResources/$global/streams/copy-resources
hw3/futureserver/project/target/streams/compile/copyResources/$global/streams/out
hw3/futureserver/project/target/streams/compile/dependencyClasspath/$global/streams/export
hw3/futureserver/project/target/streams/compile/exportedProducts/$global/streams/export
hw3/futureserver/project/target/streams/compile/externalDependencyClasspath/$global/streams/export
hw3/futureserver/project/target/streams/compile/internalDependencyClasspath/$global/streams/export
hw3/futureserver/project/target/streams/compile/managedClasspath/$global/streams/export
hw3/futureserver/project/target/streams/compile/unmanagedClasspath/$global/streams/export
hw3/futureserver/project/target/streams/compile/unmanagedJars/$global/streams/export
hw3/futureserver/project/target/streams/runtime/dependencyClasspath/$global/streams/export
hw3/futureserver/project/target/streams/runtime/exportedProducts/$global/streams/export
hw3/futureserver/project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
hw3/futureserver/project/target/streams/runtime/fullClasspath/$global/streams/export
hw3/futureserver/project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
hw3/futureserver/project/target/streams/runtime/managedClasspath/$global/streams/export
hw3/futureserver/project/target/streams/runtime/unmanagedClasspath/$global/streams/export
hw3/futureserver/project/target/streams/runtime/unmanagedJars/$global/streams/export
*.jar
*.zip
hw3/futureserver/src/main/scala/target/streams/runtime/unmanagedJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/unmanagedClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/managedClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/internalDependencyAsJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/fullClasspathAsJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/externalDependencyClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/exportedProductJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/runtime/dependencyClasspathAsJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/unmanagedJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/unmanagedClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/packageBin/$global/streams/output
hw3/futureserver/src/main/scala/target/streams/compile/packageBin/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/compile/packageBin/$global/streams/inputs
hw3/futureserver/src/main/scala/target/streams/compile/managedClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/mainClass/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/compile/internalDependencyClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/externalDependencyClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/exportedProductJars/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/dependencyClasspath/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/copyResources/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/compile/copyResources/$global/streams/copy-resources
hw3/futureserver/src/main/scala/target/streams/compile/compileIncremental/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/compile/compileIncremental/$global/streams/export
hw3/futureserver/src/main/scala/target/streams/compile/compile/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/$global/update/$global/streams/update_cache_2.12/output
hw3/futureserver/src/main/scala/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
hw3/futureserver/src/main/scala/target/streams/$global/update/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/$global/projectDescriptors/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/$global/ivySbt/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/$global/ivyConfiguration/$global/streams/out
hw3/futureserver/src/main/scala/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
hw3/futureserver/src/main/scala/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
hw3/futureserver/src/main/scala/target/streams/$global/$global/$global/streams/out
hw3/futureserver/target/.history
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/$global/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/ivyConfiguration/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/ivySbt/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/projectDescriptors/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/update/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
hw3/futureserver/target/scala-2.12/classes/target/streams/$global/update/$global/streams/update_cache_2.12/output
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/compile/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/compileIncremental/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/compileIncremental/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/copyResources/$global/streams/copy-resources
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/copyResources/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/dependencyClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/exportedProductJars/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/externalDependencyClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/internalDependencyClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/mainClass/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/managedClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/packageBin/$global/streams/inputs
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/packageBin/$global/streams/out
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/packageBin/$global/streams/output
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/unmanagedClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/compile/unmanagedJars/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/dependencyClasspathAsJars/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/exportedProductJars/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/externalDependencyClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/fullClasspathAsJars/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/internalDependencyAsJars/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/managedClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/unmanagedClasspath/$global/streams/export
hw3/futureserver/target/scala-2.12/classes/target/streams/runtime/unmanagedJars/$global/streams/export
hw3/futureserver/target/streams/$global/$global/$global/streams/out
hw3/futureserver/target/streams/$global/$global/dumpStructure/$global/streams/out
hw3/futureserver/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
hw3/futureserver/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
hw3/futureserver/target/streams/$global/ivyConfiguration/$global/streams/out
hw3/futureserver/target/streams/$global/ivySbt/$global/streams/out
hw3/futureserver/target/streams/$global/projectDescriptors/$global/streams/out
hw3/futureserver/target/streams/$global/update/$global/streams/out
hw3/futureserver/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
hw3/futureserver/target/streams/$global/update/$global/streams/update_cache_2.12/output
hw3/futureserver/target/streams/$global/updateClassifiers/$global/streams/out
hw3/futureserver/target/streams/$global/updateSbtClassifiers/$global/streams/out
hw3/futureserver/target/streams/compile/$global/$global/discoveredMainClasses/data
hw3/futureserver/target/streams/compile/compile/$global/streams/out
hw3/futureserver/target/streams/compile/compileIncremental/$global/streams/export
hw3/futureserver/target/streams/compile/compileIncremental/$global/streams/out
hw3/futureserver/target/streams/compile/copyResources/$global/streams/copy-resources
hw3/futureserver/target/streams/compile/copyResources/$global/streams/out
hw3/futureserver/target/streams/compile/dependencyClasspath/$global/streams/export
hw3/futureserver/target/streams/compile/exportedProductJars/$global/streams/export
hw3/futureserver/target/streams/compile/externalDependencyClasspath/$global/streams/export
hw3/futureserver/target/streams/compile/internalDependencyClasspath/$global/streams/export
hw3/futureserver/target/streams/compile/mainClass/$global/streams/out
hw3/futureserver/target/streams/compile/managedClasspath/$global/streams/export
hw3/futureserver/target/streams/compile/packageBin/$global/streams/inputs
hw3/futureserver/target/streams/compile/packageBin/$global/streams/out
hw3/futureserver/target/streams/compile/packageBin/$global/streams/output
hw3/futureserver/target/streams/compile/run/$global/streams/out
hw3/futureserver/target/streams/compile/unmanagedClasspath/$global/streams/export
hw3/futureserver/target/streams/compile/unmanagedJars/$global/streams/export
hw3/futureserver/target/streams/runtime/dependencyClasspathAsJars/$global/streams/export
hw3/futureserver/target/streams/runtime/exportedProductJars/$global/streams/export
hw3/futureserver/target/streams/runtime/externalDependencyClasspath/$global/streams/export
hw3/futureserver/target/streams/runtime/fullClasspathAsJars/$global/streams/export
hw3/futureserver/target/streams/runtime/internalDependencyAsJars/$global/streams/export
hw3/futureserver/target/streams/runtime/managedClasspath/$global/streams/export
hw3/futureserver/target/streams/runtime/unmanagedClasspath/$global/streams/export
hw3/futureserver/target/streams/runtime/unmanagedJars/$global/streams/export
hw3/futureserver/target/streams/test/externalDependencyClasspath/$global/streams/export
hw3/futureserver/target/streams/test/managedClasspath/$global/streams/export
hw3/futureserver/target/streams/test/unmanagedClasspath/$global/streams/export
hw3/futureserver/target/streams/test/unmanagedJars/$global/streams/export
